<!DOCTYPE html>
<html>
  <head>
    <title>Practice</title>
    <%= render 'layouts/rails_default' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/errors' %>
    <div class="container">
    	<%= yield %>
  	</div>
  </body>
</html>
